base: &base
  adapter: postgresql
  host: localhost
  encoding: utf8
  reconnect: true
  timeout: 5000
  pool: 5

development:
  <<: *base
  username: any_superuser
  password: 'su_password'
  database: my_db_development

production:
  <<: *base
  database: my_db_production
