# @note: here described default connection for store information about migrations,
#        target db for migrations described in default_soconfig and custom_soconfig
base: &base
  adapter: postgresql
  host: localhost
  encoding: utf8
  reconnect: true
  timeout: 5000
  pool: 5

development:
  <<: *base
  username: any_superuser
  password: 'su_password'
  database: separate_db_for_development_somigration_config

production:
  <<: *base
  username: any_superuser
  password: 'su_password'
  database: separate_db_for_production_somigration_config

test:
  <<: *base
  username: any_superuser
  password: 'su_password'
  database: separate_db_for_test_somigration_config